#cards-wrapper {
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    .weather-card {
        display: inline-block;
        width: calc((100% - 2em) / 3);
        margin-right: 1em;

        &:last-of-type {
            margin-right: 0;
        }
    }
}